<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <title>"Karofood"</title>
        <%if (!table[0] || !table[1]) { %>
            <meta http-equiv="refresh" content="0">
        <% }; %>

    </head>

    <body>

    <form class="client-dishlist">
        <div class="menu-form-header">
            <h3 class="menu">Список блюд</h3>
        </div>
        <input style="display: none;" type="text" name="employee_id" value="<%=employee_id%>">
        <div class="title-input-line"  style="padding-right: 10px;">
            <div> Поиск </div>
            <input type="text" id="title" name="title" placeholder="<%= title%>"></input>
        </div>
       

        <div class="menu-table-header" style="padding-right:32px;">
            <h4> Название </h4>
        </div>

        

        <div class="menu-form-dishlist" style="height: 300px; padding-right:10px; overflow-y: scroll;">
            <% function mem(table = []) { %>
            <% table.forEach(function(column){ %>
                <% column = Object.values(column) %>
                    <a class='menu-row-button a-text' id = "dish_id" value = "<%= column[0] %>" href="/EmployeeMenuDishDetail?dish_id=<%=column[0]%>&employee_id=<%=employee_id%>" >
                        <div style="width: 90%; text-align: left;">
                            <%= column[1] %>
                        </div>
                    </a>    
 
            <% }); %>
            <% }; mem(table[title ? 1 : 0]) %>  

        
        </div>
        <!-- <a class="button-menu light link_button a-text" href="/EmployeeAddDish">
            Добавить блюдо
        </a> -->

        <div class="bottom-buttons">
            <a class="button-menu light link_button a-text" href="/EmployeeMainPage?employee_id=<%=employee_id%>">
                Вернуться
            </a> </button>
            <button type="submit" class="button-menu dark">Обновить</button>
        </div>
    </form>
</html>

