<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <title>"Karofood"</title>
        <%if (!table[1]) { %>
            <meta http-equiv="refresh" content="0">
        <% }; %>
    </head>

    <body>
        <form method = "post" class="client-dishlist">
            <div class="menu-form-header">
                <h3 class="menu">Детали заказа</h3>
            </div>
            <input style="display: none" value ="<%=employee_id%>" type="number" name="employee_id" >
            <div class="title-input-line">
                <div> Статус </div>
                <select name="status" id="status">
                    <option disabled selected="selected" type="text" name="status"><%=order_status%></option>
                    <% table[0].forEach(function(column){ %>
                        <% column = Object.values(column) %>
                        <%if (column[0] != "Обрабатывается") {%>
                        <option value = "<%=column%>" type="text" name="status"> 
                            <%=column%>
                        </option>
                        <%}%>
                    <% }); %>
                </select>
            </div>
            
            <input style="display: none" value = "<%=order_id%>" type="number" name="order_id">

            <div class="menu-table-header">
                <h4 style="padding-left: 10px" > Информация </h4>
            </div>
            
            <span class='active-order-info' style="position: relative; display: inline-flex; justify-content: space-between;">
                <% function mem(table = []) { %>
                    <% table.forEach(function(column){ %>
                        <% column = Object.values(column) %>
                            <div style="width: 56%;"> Сумма заказа: <%= column[4] %> р. Клиент: <%= column[1] %></div>     
                            <div style="width: 60%;">  Дата: <%= column[3] %> Телефон: +<%= column[2] %></div>
                    <% }); %>  
                <% }; mem(table[1]) %>  
            </span>

            <div class="menu-table-header">
                <h4 style="padding-left: 10px"> Блюдо </h4>
                <div class="menu-table-header">
                    <h4 style="padding-right: 47px;"> Кол-во </h4>
                    <h4 style="padding-right: 40px;"> Готово </h4>
                </div>
            </div>
    
            <div class="menu-form-dishlist" style="height: 210px; padding-right:10px; overflow-y: scroll;">
                <% table[2].forEach(function(column){ %>
                    <% column = Object.values(column) %>
                    <span class='ingredient-title-row' > 
                        <div style="width: 65%;"><%= column[0] %></div>
                        <div style="width: 10%; text-align: center;">
                            <%= column[1] %>
                        </div>
                        <div style="width: 25%; text-align: right;">
                            <%= column[2] %>
                        </div>
                </span>
                <% }); %>  
            </div>


            <div class="bottom-buttons">
                <a class="button-menu light link_button a-text" href="/EmployeeOrderList?employee_id=<%=employee_id%>">
                    Вернуться
                </a> </button>
                <button type="submit" class="button-menu green">Сохранить</button>
            </div>
        </form>
</html>



            
