<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <title>"Karofood"</title>
        <%if (!table[0] || !table[1]) {%>
            <meta http-equiv="refresh" content="0">
        <% }; %>
    </head>

    <body>

    <form class="client-dishlist">
        <div class="menu-form-header">
            <h3 class="menu">Состав блюд в заказах</h3>
        </div>

        <div class="title-input-line">
            <div> Статус </div>
            <select name="is_done" id="is_done">
                <option disabled selected="selected" value='3' id='3'>
                    <%if (is_done == 1){ %>
                        Готовы
                    <%} else if (is_done == 0){ %>
                        Не готовы
                    <%} else { %>
                        Все блюда
                    <%} %>
                </option>
                <option value='1' id = '1'>Готовы</option>
                <option value='0' id = '0'>Не готовы</option>
                <option value = '2' id = '2'>Все блюда</option> 

            </select>
        </div>
       

        <div class="menu-table-header" style="padding-right:32px;">
            <h4> Название </h4>
            <div class="menu-table-header">
                <h4> Кол-во </h4>
            </div>
        </div>


        <div class="menu-form-dishlist" style="height: 300px; padding-right: 0px; overflow-y: scroll;">
            <% function mem(table = []) { %>
            <% table.forEach(function(column){ %>
                <% column = Object.values(column) %>
                    <a class='menu-row-button a-text' id = "dish_id" value = "<%= column[0] %>" href="/DishDetail?dish_id=<%=column[0]%>&is_done=<%=column[3]%>&admin_id=<%=admin_id%>" >
                        <div style="width: 90%; text-align: left;">
                            <%= column[1] %>
                        </div>
                        <div style="width: 10%; text-align: right;">
                            <%= column[2] %>
                        </div>
                    </a>    
 
            <% }); %>
            <% }; mem(table[is_done == 2 ? 0 : 1]) %>  
           

        </div>

        <div class="bottom-buttons">
            <a class="button-menu light link_button a-text" href="/MainPage?admin_id=<%=admin_id%>">
                Вернуться
            </a> </button>
            <button type="submit" class="button-menu dark">Обновить</button>
        </div>
    </form>
</html>

